<div class="container">
  <div class="row">
    {{!-- <div class="col-md-6">
      <strong>Entered Words</strong>
      {{#each madLibs}}
      <li>{{word}}</li>
      {{/each}}
    </div> --}}
    <div class="col-md-4 offset-md-2">
    <form class="create-form" id="storyWordsAdd">
        <h5>User Words</h5>
      {{#each POS}}
      <div class="form-group">
        <label for="{{.}}">{{.}}:</label>
        <input type="text" id="{{.}}" name="name">
      </div>
      {{/each}}
      <button class="btn btn-primary" type="submit">Add Words To A Story</button>
    </form>
    <button id="save-story" class="btn btn-success" type="submit">Save My Story</button>
    <button id="new-story" class="btn btn-secondary" type="submit">New Random Story</button>
  </div>
    <div class="col-md-4">
      <h5>Story</h5>
      <p id="printedStory"></p>
      <p id="serverStory">{{story}}</p>
    </div>
  </div>
</div>
